#deviceMetrics{
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 56em;
    width: 41em;
    height: 55px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(43, 43, 43, 0.14)  0 0px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.device-metrics-heading{
    position: relative;
    bottom: 17px;
    left: 18px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.device-metrics-content{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.cpu-load, .run-time, .memory, .bandwidth {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    border-right: 3px solid rgb(172, 170, 170);
}

.cpu-load p, .run-time p, .memory p, .bandwidth p {
    margin: 0;
    padding: 0;
}

.cpu-load p:nth-child(2), .run-time p:nth-child(2), .memory p:nth-child(2), .bandwidth p:nth-child(2){
    font-weight: 800;
}

.bandwidth {
    border: none;
}
