#infoModule{
    box-sizing: border-box;
    position: relative;
    left: 5px;
    top: 10px;
    width: calc(100% - 10px);
    height: 55px;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(43, 43, 43, 0.14)  0 0px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}

.info-Module-heading{
    position: relative;
    bottom: 19px;
    left: 17px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.info-module-content{
    display: flex;
    gap: 24px;
    position: absolute;
    top: 9px;
    left: 13px;
}


.connection{
    display: flex;
    gap: 10px;
    padding-right: 27px;
    border-right: 3px solid rgb(90, 90, 90);
}

.start-image, .stop-image{
    width: 45px;
}


.device, .device-name, .device-s-number{
    display: flex;
    flex-direction: column;
    padding-right: 27px;
    border-right: 3px solid rgb(90, 90, 90);
}

.device p , .device-name p, .device-s-number p{
    margin: 0;
    padding: 0;
}

.device p:nth-child(2), .device-name p:nth-child(2), .device-s-number p:nth-child(2){
    font-weight: 800;
}



