.log-module{
    box-sizing: border-box;
    height: 23.7em;
    width: 25em;
    padding: 5px;
    position: relative;
    left: 10px;
    top: 3em;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(43, 43, 43, 0.14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.log-module div{
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: #333;
    color: whitesmoke; */
}

.log-module div:hover{
    overflow: auto;
}

.log-module div::-webkit-scrollbar{
    width: 8px;
}

.log-module div::-webkit-scrollbar-track{
    background-color: lightgray;
    border-radius: 20em;
}

.log-module div::-webkit-scrollbar-thumb{
    background-color: darkgray;
    border-radius: 20em;
}


.log-module div p {
    margin: 0;
}

