#moduleButton{
    box-sizing: border-box;
    height: 2.5em;
    width: 11em;
    border: 2px solid gray;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(43, 43, 43, 0.14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.module-button p{
    padding: 0;
    margin: 0;
}