#targetModule{
    box-sizing: border-box;
    position: relative;
    left: 5px;
    top: 10px;
    width: 54em;
    height: 55px;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(43, 43, 43, 0.14)  0 0px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}

.target-module-heading{
    position: relative;
    bottom: 19px;
    left: 17px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.target-module-content{
    display: flex;
    gap:40px;
    position: absolute;
    top: 10px;
    left: 13px;
}

.connection{
    display: flex;
    gap: 10px;
    padding-right: 40px;
    border-right: 3px solid rgb(172, 170, 170);
}

.connection div{
    position: relative;
    top: 3px;
    left: 12px;
    height: 32px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3); 
}

.connection div:hover{
    transform: scale(1.10); /* Slightly reduce the scale on click */
}

.connection div:active{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); 
}

.start-image, .stop-image{
    width: 32px;
    border-radius: 7px;
    cursor: pointer;
}

.sts{
    display: flex;
    gap: 11px;
    align-items: center;
    padding-right: 35px;
    border-right: 3px solid rgb(172, 170, 170);

}

.sts p{
    margin: 0;
    padding: 0;
}


.device, .device-name, .device-s-number{
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    border-right: 3px solid rgb(172, 170, 170);
}

.device-s-number{
    padding-right: 0;
    border-right: none;
}
.device p , .device-name p, .device-s-number p{
    margin: 0;
    padding: 0;
}

.device p:nth-child(2), .device-name p:nth-child(2), .device-s-number p:nth-child(2){
    font-weight: 800;
}



